/*link to google fonts*/
@import url('');
/*

*/

/* colors

*/

/* ------------------------------------ GLOBAL STYLES ------------------------------------ */
*{
    font-family: 'Cabin', sans-serif;
}

.row {
    margin: 2em;
}

#logo {
    height: 50px;
    margin: 25px;
}

header, footer {
    background-color: rgb(88, 86, 214);
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

/* column 1, h2 headers */
main h2 {
    color: rgb(88, 86, 214);
    font-size: 1.5em;
}

/* bold text around team members */
span {
    font-weight: 900;
}

p {
    padding: 25px;
}

#quote1, #quote2 {
    background-color: rgba(88, 86, 214, 0.9);
    color: white;
}




/* -----------------------RESPONSIVE: DESKTOP STYLES-------------------- */
@media screen and (min-width: 1250){
}



